.archive-header {
  @extend %white-box;
  padding: $baseline-height * 0.75 $column * 2 * 1.125;
  margin-top: $baseline-height * 1.5;

  h1 {
    @extend %fourteen-pixels;
  }
  i {
    margin-right: 4px;
  }
  p {
    margin: $baseline-height/2 0;
    font-style: italic;
  }
}

@media all and (min-width: $one-thousand) {

  .archive-header {
    padding: $baseline-height $column * 2.118;
  }
}