/*===== Basic Styles =====*/

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font-stack;
  line-height: 1.5;
  background: $color-gray-blue;
  color: $color-gray-20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}
.main {
  margin: 0 auto;
}
.loop-container {

  &:after {
    @include clearfix;
  }
}
p {
  margin: $baseline-height 0;
}
a {
  color: $color-blue;
  text-decoration: none;
  transition: color 0.15s;

  &:link,
  &:visited {
    color: $color-blue;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-blue-hover;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font-stack;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

@media all and (min-width: $six-hundred) {

  h1 {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
  h2 {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.333; /* 24px */
  }
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: $baseline-height;

  ul,ol {
    margin: 0 $baseline-height;
  }
}
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */

pre {
  word-wrap: break-word;
  background: $color-gray-blue;
  white-space: pre-wrap;
  border: solid 1px $color-gray-blue-dark;
  padding: $baseline-height / 2;
}
code {
  background: $color-gray-blue;
  padding: 0 $baseline-height / 4;
}
blockquote {
  margin: $baseline-height $baseline-height $baseline-height 0;
  padding-left: $baseline-height;
  border-left: solid 3px $color-blue;

  cite {
    display: block;
    text-align: right;
  }
}
hr {
  margin: $baseline-height 0;
}
/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: $baseline-height 0;
}
td,
th {
  padding: $baseline-height / 2;
  border: solid 1px $color-gray-60;
}

/* Images */

.alignleft {
  float: left;
  margin: 0 $baseline-height $baseline-height 0;
}
.alignright {
  float: right;
  margin: 0 0 $baseline-height $baseline-height;
}
.aligncenter {
  text-align: center;
  margin: $baseline-height auto;
  display: block;
}
.alignnone {
  margin: $baseline-height 0;
}
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.wp-caption-text,
.gallery-caption {
  @extend %twelve-pixels;
  line-height: 1.5;
  margin: 0 0 $baseline-height / 0.813;
  color: $color-gray-40;
}

/* Form styles */

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  @extend %fourteen-pixels;
  font-family: $body-font-stack;
  width: 100%;
  padding: 12px;
  background: $color-gray-blue;
  color: $color-gray-20;
  border: solid 1px $color-gray-blue-dark;
  border-radius: 3px;
  -webkit-appearance: none;
  transition: background 0.15s, box-shadow 0.15s;

  &:focus {
    @extend %box-shadow;
    background: #fff;
    outline: none;
  }
}
textarea {
  overflow: auto; /* to hide scrollbar in IE */
}
input[type="submit"] {
  @extend %fourteen-pixels;
  font-family: $body-font-stack;
  padding: 13px;
  color: white;
  background: $color-blue;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  transition: background 0.15s;

  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:active,
  &:focus {
    background: $color-blue-hover;
  }
}

input[type="search"] {
//  margin-right: $baseline-height;
//  padding-right: $baseline-height / 4; /* so safari 'x' doesn't get cut off */
}
::-webkit-input-placeholder {
  color: $color-gray-70;
}
:-moz-placeholder /* Firefox 18- */ {
  color: $color-gray-70;
}
::-moz-placeholder /* Firefox 19+ */ {
  color: $color-gray-70;
}
:-ms-input-placeholder {
  color: $color-gray-70;
}

/* sticky */
//.excerpt.sticky {
//  outline: solid 3px $orange;
//}

/* ie image border fix */

a img {
  border: none;
}

// stop iphone from zooming in on landscape view
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
{
  html {
    -webkit-text-size-adjust: none;   /* none for no scaling */
  }
}

// stop ipad from zooming in on landscape view
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
  html {
    -webkit-text-size-adjust: none;   /* none for no scaling */
  }
}

// hiding screen reader text
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}
.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: $baseline-height;
  background: $color-gray-20;
  transition: top 0.2s ease-in-out;

  &:focus {
    top: 0;
    outline: none;
  }
}
.admin-bar {

  .skip-content:focus {
    top: 32px;
  }
}
.max-width {
  max-width: 1400px;
  margin: 0 auto;
}