.site-header {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: $color-blue;
    background-image: linear-gradient(to right, $color-blue, $color-green);
  }
}
.secondary-header {
  padding: $baseline-height/4 $column * 2;

  &:after {
    @include clearfix;
  }
}
.primary-header {
  @extend %white-box;
  padding: $baseline-height * 0.75 $column * 2;

  &:after {
    @include clearfix;
  }
  .max-width {
    display: flex;
    flex-flow: row wrap;
    border-radius: 0;
  }
}
.title-container {
  display: inline-block;
  flex-shrink: 0;
  align-self: center;
}
.site-title {
  @extend %twenty-one-pixels;
  font-family: $heading-font-stack;

  a {
    @extend %gray-link;

    &:hover,
    &:active,
    &:focus {

      img {
        opacity: 0.8;
      }
    }
  }
}
.custom-logo {
  max-width: 100%;
  width: auto;
  height: auto;
  transition: opacity 0.15s;
}
.tagline {
  @extend %fourteen-pixels;
  margin: 0;
  font-style: italic;
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height/4 0;
  text-align: center;

  li {
    display: inline-block;
    margin-left: $baseline-height/2;
  }
  a {
    display: inline-block;
    width: $baseline-height;
    height: $baseline-height;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.05);
    transition: color 0.15s, background 0.15s;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background: $color-blue;
    }
  }
  i {
    @extend %fourteen-pixels;
    display: inline-block;
    vertical-align: text-top;
  }
}
.site-header .social-media-icons {
  float: right;
}
.rtl {

  .social-media-icons {

    li {
      margin-right: 0;
      margin-left: $baseline-height/2;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .primary-header {
    padding: $baseline-height * 0.75 $column * 4;

    .max-width {
      flex-flow: row nowrap;
    }
  }
  .secondary-header {
    padding: $baseline-height/4 $column * 4;
  }
  .title-container {
    margin-right: $baseline-height * 1.5;
  }
  .rtl {

    .title-container {
      margin-right: 0;
    }
  }
}