.toggle-navigation {
  background: none;
  border: none;
  margin: 6px 0 0;
  padding: 0;
  float: right;
  transition: fill 0.15s;

  &:hover {
    cursor: pointer;

    svg g {
      fill: $color-blue;
    }
  }
  &:focus {
    outline: none;
  }
  &.open {

    svg g {
      fill: $color-blue;
    }
  }
}
.menu-primary-container {
  overflow: hidden;
  //max-height: 0;
  transition: max-height 0.35s;

  &.open {
    max-height: none;
  }
}
.menu-primary {
  margin: $baseline-height * 1.5 0 0;
}
.menu-primary-items {
  list-style: none;
  margin: 0;
  //text-align: center;

  li {
    margin-bottom: $baseline-height/2;
    //margin: 6px 0;


    &.current-menu-item {

      > a {
        color: $color-blue;
        //@extend %white-box;
        //box-shadow: 0 0 6px 0 rgba(0,0,0,0.07);
        //border: solid 1px $color-gray-blue;
        //padding: 5px 12px;
      }
      //> .toggle-dropdown {
      //  margin-left: 8px;
      //}
      //&.menu-item-has-children {
      //  margin-right: -33px;
      //
      //  ul {
      //    margin-left: -27px;
      //  }
      //}
    }
    //&.menu-item-has-children {
    //  margin-right: -25px;
    //
    //  ul {
    //    margin-left: -19px;
    //  }
    //}
    &.open {

      > a {
        color: $color-blue;
      }
      > .toggle-dropdown {
        border-color: $color-blue;

        &:after {
          content: '\f106';
        }
      }
      > ul {
        max-height: none;
      }
    }
  }
  a {
    @extend %twelve-pixels;
    @extend %gray-link;
    font-family: $heading-font-stack;
    display: inline-block;
    padding: 3px 6px;
    margin-left: -3px;
  }
  ul {
    position: relative;
    list-style: none;
    margin: 0 0 0 $baseline-height/2;
    //padding-bottom: $baseline-height/4;
    overflow: hidden;
    //max-height: 0;

    li {
      font-size: 1em;

      &:first-child {
        margin-top: $baseline-height/2;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.toggle-dropdown {
  position: relative;
  //margin: 0;
  margin: 0 0 0 2px;
  padding: 2px 5px;
  border: solid 1px $color-gray-blue-dark;
  border-radius: 3px;
  background: none;
  transition: border-color 0.15s;

  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:active {
    border-color: $color-blue;
  }
  &:focus {
    outline: none;
  }
  &:after {
    content: '\f107';
    font-family: "FontAwesome"
  }
}
.menu-secondary-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s;
}
.menu-secondary-items {
  list-style: none;
  margin: $baseline-height/2 0 0;

  li {
    margin-bottom: $baseline-height/2;

    &.current-menu-item {

      a {
        color: $color-blue;

        &:link,
        &:visited {
          color: $color-blue;
        }
      }
    }
  }
  a {
    @extend %twelve-pixels;
    font-family: $heading-font-stack;
    padding: 6px 12px;
    color: $color-gray-40;

    &:link,
    &:visited {
      color: $color-gray-40;
    }
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
    }
  }
  ul {
    margin: $baseline-height/2;
    list-style: none;
  }
}
.toggle-navigation-secondary {
  @extend %twenty-eight-pixels;
  font-family: $heading-font-stack;
  margin: 0;
  padding: 0 8px;
  border: none;
  background: none;
  color: $color-gray-30;
  transition: color 0.15s, transform 0.3s;

  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:active {
    color: $color-blue;
  }
  &:focus {
    outline: none;
  }
  &.open {
    color: $color-blue;
    transform: rotate(360deg);
  }
  .icon {
    position: relative;
    top: 3px;
  }
}

@media all and (min-width: $eight-hundred) {

  .toggle-navigation,
  .toggle-navigation-secondary {
    display: none;
  }
  .menu-primary-container {
    max-height: none;
    overflow: visible;
    float: right;
  }
  .menu-primary {
    margin: 0;
  }
  .menu-primary-items {

    li {
      display: inline-block;
      margin: 0;

      &.menu-item-has-children {
        position: relative;
        margin-right: 9px;

        &:hover {

          > a,
          > button {
            color: $color-blue;
          }
          > button {
            transform: translateY(2px);
          }
        }
      }
      &.current-menu-item {

        > .toggle-dropdown {
          margin-left: -9px;
        }
        &.menu-item-has-children {
          margin-right: 0;

          > a {
            padding-right: 20px;
          }
          > .toggle-dropdown {
            margin-left: -18px;
          }
        }
      }
    }
    a {
      position: relative;
      z-index: 1;

      &:hover,
      &:active,
      &:focus {

        + button {
          transform: translateY(2px);
          color: $color-blue;
        }
        ~ ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(-12px);
        }
      }
    }
    ul {
      max-height: none;
      overflow: visible;
      position: absolute;
      z-index: 9;
      top: calc(100% + 12px);
      opacity: 0;
      visibility: hidden;
      background: white;
      border-radius: 3px;
      padding: 12px 6px;
      box-shadow: 0 0 24px 0 rgba(0,0,0,0.05);
      transition: opacity 0.15s, visibility 0.15s, transform 0.15s;

      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: $color-blue;
        background-image: linear-gradient(to right, $color-blue, $color-green);
      }
      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(-12px);
      }
      li {
        display: block;
        white-space: nowrap;

        &.menu-item-has-children {

          &:hover {

            > button {
              transform: translateX(-2px);
            }
          }
        }
      }
      a {

        &:hover,
        &:active,
        &:focus {

          + button {
            transform: translateX(-2px);
          }
        }
      }
      .toggle-dropdown {
        right: calc(100% - 10px);

        &:after {
          content: '\f104';
        }
      }
      ul {
        top: 0;
        right: 100%;
      }
    }
  }
  .toggle-dropdown {
    position: relative;
    z-index: 0;
    padding: 0;
    border: none;
    margin: 0 0 0 -9px;
    transition: transform 0.15s, color 0.15s;
  }
  .menu-secondary-container {
    max-height: none;
  }
  .menu-secondary-items {
    margin: 0;

    li {
      display: inline-block;
      margin: 0 0 0 -4px;

      &:first-child {

        a {
          padding-left: 4px;
        }
      }
    }
  }
}
