.toggle-navigation {
  background: none;
  border: none;
  margin: 0 0 0 auto;
  padding: 0;
  align-self: center;
  flex-shrink: 0;
  //float: right;
  //margin-left: auto;
  //display: block;
  transition: fill 0.15s;

  &:hover {
    cursor: pointer;

    svg g {
      fill: $color-blue;
    }
  }
  &:focus {
    outline: none;
  }
  &.open {

    svg g {
      fill: $color-blue;
    }
  }
}
.menu-primary-container {
  overflow: hidden;
  max-height: 0;
  width: 100%;
  transition: max-height 0.35s;

  &.open {
    max-height: none;
  }
}
.menu-primary {
  margin: $baseline-height * 1.5 0 0;
}
.menu-primary-items,
.menu-unset ul {
  list-style: none;
  margin: 0;

  &:after {
    @include clearfix;
  }
  li {
    margin-bottom: $baseline-height/2;

    &.current-menu-item {

      > a {
        color: $color-blue;
      }
    }
  }
  a {
    @extend %twelve-pixels;
    @extend %gray-link;
    font-family: $heading-font-stack;
    display: inline-block;
    padding: 3px 6px;
    margin-left: -3px;
  }
  ul {
    position: relative;
    list-style: none;
    margin: 0 0 0 $baseline-height/2;
    overflow: hidden;

    li {
      font-size: 1em;

      &:first-child {
        margin-top: $baseline-height/2;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (min-width: $five-hundred) {

  .menu-primary-items,
  .menu-unset ul {

    > li {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      float: left;

      &:nth-child(even) {
        float: right;
      }
    }
  }
  .menu-primary-items:not(.hierarchical),
  .menu-unset ul:not(.hierarchical) {

    > li {
      width: auto;
      float: none;
      margin-right: $baseline-height/2;

      &:nth-child(even) {
        float: none;
      }
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .toggle-navigation,
  .toggle-navigation-secondary {
    display: none;
  }
  .menu-primary-container {
    max-height: none;
    overflow: visible;
    align-self: center;
    margin-left: auto;
    width: auto;
  }
  .menu-primary {
    margin: 0;
  }
  .menu-primary-items,
  .menu-unset ul {

    > .menu-item-has-children > a {
      padding-right: 8px;
    }
    li {
      margin: 0 0 0 -4px;
      width: auto;
      float: none;

      &:nth-child(even) {
        float: none;
      }
      &.menu-item-has-children {
        position: relative;

        &:hover {

          > a,
          > a:after {
            color: $color-blue;
          }
          > a:after {
            top: 2px;
          }
        }
        > a {

          &:after {
            content: '\f107';
            font-family: "FontAwesome";
            position: relative;
            margin-left: 4px;
            transition: top 0.15s, left 0.15s, color 0.15s;
          }
        }
      }
      &:last-child{
        margin-right: -12px;
      }
    }
    a {
      position: relative;
      z-index: 1;
      margin-left: 0;
      padding: 6px 12px;

      &:after {
        top: 0;
      }
      &:hover,
      &:active,
      &:focus {

        &:after {
          top: 2px;
          color: $color-blue;
        }
        ~ ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(-12px);
        }
      }
    }
    ul {
      max-height: none;
      overflow: visible;
      position: absolute;
      z-index: 9;
      top: calc(100% + 12px);
      opacity: 0;
      visibility: hidden;
      background: white;
      margin: 0;
      border-radius: 3px;
      padding: 0 8px 6px 8px;
      box-shadow: 0 0 24px 0 rgba(0,0,0,0.05);
      transition: opacity 0.15s, visibility 0.15s, transform 0.15s;

      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: $color-blue;
        background-image: linear-gradient(to right, $color-blue, $color-green);
      }
      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(-12px);
      }
      li {
        display: block;
        white-space: nowrap;
        padding-right: 8px;

        &.menu-item-has-children {

          &:hover {

            a:after {
              top: 0;
              right: calc(100% + 6px);
            }
          }
          > a {

            &:hover,
            &:active,
            &:focus {

              &:after {
                top: 0;
                right: calc(100% + 6px);
              }
            }
            &:after {
              content: '\f104';
              right: calc(100% + 4px);
            }
          }
        }
      }
      a {
        //display: inline-block;
        //white-space: nowrap;
      }
      ul {
        top: 0;
        right: 100%;
      }
    }
  }
  .menu-primary-items:not(.hierarchical),
  .menu-unset ul:not(.hierarchical) {

    > li {
      margin-right: 0;
    }
  }
  .rtl {

    .menu-primary-container {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
