.search-header {
  @extend %white-box;
  margin-top: $baseline-height * 1.5;
  padding-bottom: $baseline-height; // already has other padding due to .post-header class

  .post-title {
    @extend %fourteen-pixels;
  }
  form {
    margin: $baseline-height * 0.75 0 $baseline-height/4;
  }
}
.search-header.bottom {
  margin: 0 0 $baseline-height * 1.5;

  p {
    margin: 0;
  }
}
@media all and (min-width: $one-thousand) {

  .search-header {
    padding-top: $baseline-height * 0.75;
  }
}