@import "variables";

#customize-control-slider_howto,
#customize-control-slider_custom_howto {

  .tutorial-list {
    margin: $baseline-height/2 0;
  }
}
.upgrades-ad {
  
  a {
    display: block;
    padding: 12px 24px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #05B0E7;
    transition: background 0.2s;
    font-size: 12px;

    &:hover {
      background: #3FBEE8;  
    }
  }
}
#sub-accordion-section-ct_startup_blog_social_media_icons {

  #customize-control-email-form {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #d5d5d5;
  }
}
// layout picture controls
#customize-control-layout {

  input {
    display: none;
  }
  .customize-control-title {
    margin-bottom: 12px;
  }
  .customize-inside-control-row {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  label {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 0;
    width: 123px;
    height: 72px;
    background-size: cover;
    transition: opacity 0.2s ease;
    color: transparent; // hides the description text eg "Right sidebar"

    &:hover {
      opacity: 0.8;
    }
    &:nth-child(even) {
      margin-right: 9px; // +4 from inline-block
    }
    &.selected {
      outline: solid 1px #05B0E7;
    }
  }
}

// Repeater controls
#blueprint-page-select {
  display: none;
}
#customize-control-slider_pages .customize_repeater_page_select {
  width: calc(100% - 28px);
  margin-bottom: 4px;
}
.customize_repeater_remove_field {
  display: inline-block;
  margin: 1px 0 0 6px;
  color: #E64520;

  &:hover,
  &:active,
  &:focus {
    color: #FF4C23;
  }
  i {
    font-size: 19px;
  }
}
#customize-control-slider_pages .customize_repeater_add_field {
  margin-top: 12px;
}
#sub-accordion-section-startup_blog_slider_content .hide,
#sub-accordion-section-startup_blog_slider_settings .hide {
  display: none !important;
}
#customize-control-slider_help {
  position: relative;

  .featured-image-link,
  .excerpt-box-link {
    text-decoration: none;
    margin-left: 2px;
  }
  .featured-image-link {

    &:hover {

      ~ .featured-image {
        display: inline-block;
      }
    }
  }
  .excerpt-box-link {

    &:hover {

      ~ .excerpt-box {
        display: inline-block;
      }
    }
  }
  .featured-image,
  .excerpt-box {
    position: absolute;
    bottom: 100%;
    left: 0;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
    display: none;
  }
}