/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#customize-control-slider_howto .tutorial-list,
#customize-control-slider_custom_howto .tutorial-list {
  margin: 0.75em 0;
}

#sub-accordion-section-ct_business_blog_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}
